.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
  
    &:hover {
      background-color: rgb(206, 211, 209);
      color: black;
      border: 1px solid gray;
    }
  
  }
  